:root {
    --bg-color: #fff;
    --color-default: #55a39f;
    --color-navbar: rgba(39, 70, 69, 0.3);
    --color-navbar-text: #fff;
    --color-navbar-text-mobile: rgb(41, 41, 41);
    --color-banner-text: #fff;
    --color-product-border: rgb(233, 130, 61);
    --color-cart-close: rgba(223, 28, 28, 0.7);
    --color-cart-user: rgba(158, 238, 231, 0.8);
    --color-cart-title: rgb(134, 139, 139);
}
  